In [5]:
import numpy as np
import pandas as pd
import duckdb

heroes_information = pd.read_csv("heroes_information.csv")

In [7]:
duck_query = lambda q: duckdb.query(q)
pysqldf = lambda q: sqldf(q,globals())

In [11]:
###instalar desde anaconda navigator######
####pandasql
####mysql
####mysql-connector-c
####mysql-connector-python
from pandasql import *

In [13]:
####para enlistar los documentos en el directorio#####
os.listdir()

['.ipynb_checkpoints', 'heroes_information.csv', 'SQL Competition.ipynb']

In [181]:
query1 = " SELECT * FROM heroes_information LIMIT 10"

In [183]:
pysqldf(query1)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

1) Cuál es el nombre del primer superhéroe de la tabla heroes?

In [61]:
duck_query(
    """
    SELECT name
    FROM heroes_information
    LIMIT 1;
    """
)

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ A-Bomb  │
└─────────┘

2) Cuántas casas publicadoras existen?

In [75]:
duck_query(
    """
    SELECT COUNT(DISTINCT Publisher) AS 'Conteo Casas' 
    FROM heroes_information
    """
)

┌──────────────┐
│ Conteo Casas │
│    int64     │
├──────────────┤
│           24 │
└──────────────┘

3) Cuántos superhéroes miden más de 2 metros (200 cms)

In [162]:
duck_query(
    """
    SELECT COUNT(name) AS 'Superheroes 2m'
    FROM heroes_information
    WHERE height > 200
    """
)

┌────────────────┐
│ Superheroes 2m │
│     int64      │
├────────────────┤
│             59 │
└────────────────┘

4) Cuántos superhéroes son humanos y miden más de 2 metros (200 cms)?

In [165]:
duck_query(
    """
    SELECT COUNT(name) AS 'Superheroes Humanos y 2m'
    FROM heroes_information
    WHERE height > 200
    AND Race='Human'
    """
)

┌──────────────────────────┐
│ Superheroes Humanos y 2m │
│          int64           │
├──────────────────────────┤
│                       12 │
└──────────────────────────┘

5) Cuántos superhéroes pesan más de 100 lbs y menos de 200 lbs?

In [168]:
duck_query(
    """
    SELECT COUNT(name) AS 'Superheroes 100lb - 200lb'
    FROM heroes_information
    WHERE Weight BETWEEN 100 AND 200
    """
)

┌───────────────────────────┐
│ Superheroes 100lb - 200lb │
│           int64           │
├───────────────────────────┤
│                        98 │
└───────────────────────────┘

6) Cuántos superhéroes tienen los ojos de color azul o rojo?

In [174]:
duck_query(
    """
    SELECT COUNT(name) AS 'Ojos verdes o azules'
    FROM heroes_information
    WHERE "Eye color" ='green'
    OR "Eye color" ='blue'   
    """
)

┌──────────────────────┐
│ Ojos verdes o azules │
│        int64         │
├──────────────────────┤
│                  298 │
└──────────────────────┘

7) Cuántos superhéroes son Human, Mutant y tienen el pelo color Verde o son Vampiros con pelo Negro

In [193]:
duck_query(
    """
    SELECT COUNT(name)
    FROM heroes_information
    WHERE (Race='Human' OR Race='Mutant') AND "Hair color"='green' 
    OR (Race='Vampire' AND "Hair color"='Black')
      
    """
)

┌───────────────┐
│ count("name") │
│     int64     │
├───────────────┤
│             1 │
└───────────────┘

8) Cuál es el nombre del primer superhéroe si ordeno la tabla por raza en orden descendente?

In [208]:
duck_query(
    """
    SELECT Name 
    FROM heroes_information
    ORDER BY Race DESC
    LIMIT 1
    """
)

┌────────────────┐
│      name      │
│    varchar     │
├────────────────┤
│ Solomon Grundy │
└────────────────┘

9) Cuántos superhéroes son de género masculino y cuántas de género femenino?

In [213]:
duck_query(
    """
    SELECT COUNT(Name) AS 'Males'
    FROM heroes_information
    WHERE gender='Male'
    """
)

┌───────┐
│ Males │
│ int64 │
├───────┤
│   505 │
└───────┘

In [217]:
duck_query(
    """
    SELECT COUNT(Name) AS 'Female'
    FROM heroes_information
    WHERE gender='Female'
    """
)

┌────────┐
│ Female │
│ int64  │
├────────┤
│    200 │
└────────┘

10) Cuántas casas publicadoras tienen más de 15 superhéroes?

In [229]:
duck_query(
    """
    SELECT COUNT(Publisher)
        FROM (
            SELECT Publisher
            FROM heroes_information
            GROUP BY Publisher
            HAVING COUNT(name) > 15
    ) AS subquery;

    """
)

┌──────────────────┐
│ count(Publisher) │
│      int64       │
├──────────────────┤
│                4 │
└──────────────────┘